/*
* This stylesheet contains the main conents of the footer page
* Every rule here here should start with footer
* example rule targeting div in footer's main
* footer div {
*   display: none;
* }
* */

footer {
  background: #9e1b32;
  color: #fff;
  padding: 30px 0;
  text-align: center;
}

footer p:first-of-type {
  margin-bottom: 0.5em;
}
