/*
* This stylesheet contains the main conents of the header page
* Every rule here here should start with header
* example rule targeting div in header's main
* header div {
*   display: none;
* }
* */

header {
  width: 80%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  font-size: 2.5em;
}

header h1 a:link,
header h1 a:visited {
  color: inherit;
  text-decoration: none;
}

header nav {
  flex-basis: 40%;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  font-size: 1.5em;
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li:last-of-type {
  margin-right: 0;
}

@media screen and (max-width: 1000px) {
  header {
    flex-direction: column;
  }

  header h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  header nav ul {
    flex-wrap: wrap;
    justify-content: space-evenly;
    line-height: 150%;
  }
}
