@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import "resets.css";
@import "header.css";
@import "main.css";
@import "./pages/about.css";
@import "./pages/archive.css";
@import "./pages/form.css";
@import "./pages/home.css";
@import "footer.css";

/* Only styles that rewrite the above css files */
/* and/or affect every single page should go here */

* {
  box-sizing: border-box;
}

b {
  font-weight: bold;
}

body {
  color: #212529;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background-color: #f4f2f0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

a:link,
a:visited {
  color: #9e1b32;
}

a:hover,
a:active {
  color: #212529;
}
