/*
* This stylesheet contains the main conents of the main page
* Every rule here here should start with main
* example rule targeting div in main's main
* main div {
*   display: none;
* }
* */

main {
  width: 80%;
  margin: auto;
}

main p {
  line-height: 130%;
  margin-bottom: 15px;
}

main h2 {
  font-size: 2em;
  margin-bottom: 25px;
}

main h3 {
  font-size: 1.5em;
  margin-bottom: 25px;
}

main h4 {
  font-size: 1.3em;
}

main ul.submission li.skill {
  display: inline-block;
}

main ul.submission li.skillTitle {
  display: inline-block;
  font-weight: bold;
}
