.about {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.about .part {
  direction: rtl;
  font: 12pt;
  text-decoration-color: grey;
  padding: 40px;
}

.about #jieShao {
  padding-left: 50px;
  font-size: 14pt;
  color: maroon;
  font-weight: bold;
  font-family:
    Goudy Bookletter 1911,
    sans-serif;
}
.about #team {
  font-family:
    Goudy Bookletter 1911,
    sans-serif;
  font-weight: bold;
  padding-left: 50px;
}
.about .navigation {
  background-color: #546575;
  padding: 9px;
}

.about #introMember {
  color: white;
  padding-left: 60px;
  display: inline-block;
  justify-content: center;
  text-align: center;
  margin-left: 70px;
}

.about .foo {
  margin-top: auto;
  display: flex;
  color: white;
  justify-content: center;
}

.about img {
  margin: 40px;
  box-shadow: 3px 3px 4px grey;
}

.about .list li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 20px;
}

.about #Ellie {
  display: inline-block;
}
.about #Mia {
  display: inline-block;
}
.about #Holly {
  display: inline-block;
}
.about #Vlad {
  display: inline-block;
}
.about a:hover {
  color: maroon;
}
