.about {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.about .headImg {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  margin: 0;
}

.about .img-container {
  position: relative;
}

.about .imgTxt {
  position: absolute;
  text-align: center;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 60pt;
  color: maroon;
  font-family: impact;
  text-shadow: 2px 2px #ffffff;
  z-index: 1;
  width: 100%;
}

.about img {
  margin: 40px;
  box-shadow: 3px 3px 4px grey;
}

.about .list li {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-bottom: 20px;
}
