/*
* This stylesheet contains the main conents of the archive page
* Every rule here here should start with .archive
* example rule targeting div in archive's main
* .archive div {
*   display: none;
* }
*/

.archive {
  display: grid;
  grid-template-columns: auto 160px;
  max-width: 100%;
}

.archive img {
  max-width: 100%;
}

.archive img.center {
  display: block;
  margin: auto;
}

.archive ul ul {
  list-style: initial;
  padding-left: 20px;
  margin-bottom: 20px;
}

.archive .main {
  margin-right: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.archive h3 {
  clear: left;
  background-color: #b0aa7e;
  padding: 5px;
}

/*Jump link navigatgion bar styling*/
.archive .jumpLinks {
  width: 100%;
  background-color: #e9e8d5;
  overflow: auto;
  display: flex;
}

.archive .jumpLinks a {
  float: left;
  line-height: 1.5em;
  padding: 12px;
  color: #9e1b32;
  text-decoration: none;
  font-size: 17px;
}

.archive .jumpLinks a:hover {
  background-color: white;
}

/*Sidebar navigation styling*/
.archive .sidenav {
  height: 100%;
  width: 160px;
  background-color: #dfdbd3;
  overflow-x: hidden;
  padding-top: 20px;
}

.archive .sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #9e1b32;
  display: block;
}

.archive .sidenav a:hover {
  color: #000000;
}

.archive .projectTitle {
  font-weight: bold;
  font-size: large;
  margin: 15px 0;
}

.archive .projectDescription {
  font-style: italic;
}
.archive .bannerImg {
  float: left;
  padding-bottom: 10px;
}

.archive .winnerTitle {
  font-size: xx-large;
  font-weight: bold;
  font-family: cursive;
  color: #9e1b32;
}

.archive a:link,
.archive a:visited {
  color: #9e1b32;
  text-decoration: underline;
}
/*Accordian Styling*/
.archive .intro {
  padding-top: 10px;
}

.archive th {
  font-size: x-large;
}

.archive .accordion {
  float: left;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.archive .active,
.archive .accordion:hover {
  background-color: #ccc;
}

.archive .panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}
